<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>SHIPS 2 Login</title>
  <script>
      function showmethod() {
          <% identTypes.each do |ident| %>
          document.getElementById("<%= ident.name.html_esc %>").style.display = "none";
          <% end %>
          document.getElementById(document.getElementById("methodSelect").value).style.display = "block";
      }
  </script>
</head>
<body onload="showmethod()">
<div class="nav">Please select a login method:
  <select id="methodSelect" onblur="showmethod()">
    <% identTypes.each do |ident| %>
        <% if ident == defaultIdent %>
            <option selected="selected" value="<%= ident.name.html_esc %>"><%= ident.name.html_esc %></option>
        <% else %>
            <option value="<%= ident.name.html_esc %>"><%= ident.name.html_esc %></option>
        <% end %>
    <% end %>
  </select>
</div>
<div class="hline">&nbsp;</div>
<div class="login">
  <% identTypes.each do |ident| %>
      <div id="<%= ident.name.html_esc %>" style="display:none">
        Login using <%= ident.name.html_esc %>:
        <form action="/login" method="post" accept-charset="UTF-8">
          <input name="qpath" value="<%= redirect_path %>" type="hidden">
          <input name="method" value="<%= ident.name.html_esc %>" type="hidden">
          <%= ident.form_inner_html %>
          <input value="Login" type="Submit">
        </form>
      </div>
  <% end %>
</div>
<div class="hline">&nbsp;</div>A project by <a href="http://www.trustedsec.com">TrustedSec, LLC</a> - All Rights Reserved.
</body>
</html>