<div class="nav"><img class="logo" src="/logo.gif"><a href="/logoff">Logoff</a></div><div class="hline"></div> 
<form name="lookup" method="post" action="/admin" accept-charset="UTF-8">
<div class="table">

<div class="row"><span class="cell th">Computer:</span>
	<span class="cell td"><input name="computer" value="<%= computer.html_esc %>" type="text"></span>
	<span class="cell td"> <input value="Lookup" name="Lookup" type="submit"></span>
	<span class="cell td"> 
	<% if superuser %>
		<input value="New" name="New" type="submit">
	<% else %>
		<input disabled="DISABLED" value="New" name="New" type="submit">
	<% end %>
	</span></div>
<div class="hrrow"></div>
<div class="row">
<% if session.variables['computer'] %>
<span class="cell th">Password:</span>
	<span class="cell td"><input name="password0" value="<%= session.variables['computer'].password.html_esc %>" type="text"></span>
	<span class="cell th">Last Set:</span>
	<span class="cell td"><%= session.variables['computer'].tombstone.html_esc %></span>
</div>
<div class="row"><span class="cell th">Previous Password 1:</span>
	<span class="cell td"><input name="password1" value="<%= session.variables['computer'].password1.html_esc %>" disabled="disabled" type="text"></span>
</div>
<div class="row"><span class="cell th">Previous Password 2:</span>
	<span class="cell td"><input name="password2" value="<%= session.variables['computer'].password2.html_esc %>" disabled="disabled" type="text"></span>
</div>
<div class="row"><span class="cell th">Previous Password 3:</span>
<span class="cell td"><input name="password3" value="<%= session.variables['computer'].password3.html_esc %>" disabled="disabled" type="text"></span>
</div>
<div class="row">
	<span class="cell td"><div class="table">
	<div class="row"><span class="cell td"><input value="Clear" name="Clear" type="submit"> (Check/Nonce) value</span></div>
	<div class="row"><span class="cell td">
<% if superuser %>
	<input value="Delete" name="Delete" type="submit">
<% else %>
	<input value="Delete" disabled="disabled" name="Delete" type="submit">  
<% end %> from database
	</span></div>
	</div></span>
	<span class="cell td"><input value="Save" name="Save" type="submit"> Changes</span>
<% else %>
	<span class="cell td"></span><span class="cell td"></span>
<% end %>
	<span class="cell td">
<% if superuser %>
<a href="/export">Export Passwords</a>
<% else %>
Export Passwords
<% end %>
	</span>
	<span class="cell td">
<% if superuser and (session.identity.class.name == 'IdentSQLite')  %>
<a href="/users">Manage Users</a>
<% else %>
Manage Users
<% end %>
	</span>
</div>
</div>
</form>
<% if session.variables['message'] %>
<div class="hline"></div>
<%= session.variables['message'] %>
<% end %>
