<div class="nav"><img class="logo" src="/logo.gif"><a href="/admin">&lt;- Back to main admin page</a></div><div class="hline"></div>
<form method="post" action="/users" accept-charset="UTF-8" name="userform">
<div class="table">

	<div class="row">
		<span class="cell th">Username:</span>
		<span class="cell td"><input name="username" value="<%= username.html_esc %>" type="text"> </span>
	</div>
	<div class="row">
	<span class="cell th">Password:</span>
	<span class="cell td"><input name="password" value="" type="password"> </span>
	</div>
	<div class="row">
	<span class="cell th">Confirm Password:</span>
	<span class="cell td"><input name="confirm" value="" type="password"> </span>
	</div>
	<div class="row">
	<span class="cell td">
	<input name="<%= submit %>" value="<%= submit %>" type="submit"> 
<% if delete %><input name="<%= delete %>" value="<%= delete %>" type="submit"><% end %>
	</span>
	</div>

</div>
</form>
<div class="hline"></div>
<%= session.variables['message'].html_esc %>
<div class="table">

	<div class="row">
	<span class="cell th">Existing Users </span><div class="hrrow"></div>
	</div>
<% IdentSQLite.each do |user| %>
	<div class="row">
	<span class="cell td"><a href="/users?username=<%= URI.encode_www_form_component(user.username).html_esc %>"><%= user.username.html_esc %></a></span>
	</div>
<% end %>

</div>
